@media only screen and (max-width : 1200px) {
	/* - - - - - - Главная - - - - - - */
	/* - - - header - - - */
	.container {
		width: 100%;
    padding-right: 22px;
    padding-left: 22px;
	}
	.header {
		height: 55px;
	}
	.header-logo img {
		max-width: 52px;
		margin-right: 7px;
	}
	.logo__info {
    line-height: 11px;
    font-size: 9px;
	}
	.header-nav {
		margin-left: 17px;
		margin-right: 0;
	}
	.header-nav > ul > li {
		font-size: 12px;
		margin-right: 14px;
		height: 55px;
    line-height: 55px;
	}
	.header-nav > ul > li > a {
		height: 55px;
	}
	.header-nav ul ul li, 
	.header-nav ul ul a {
		font-size: 12px;
	}
	.recall {
		display: none;
	}
	.request-call {
		display: block;
		height: 22px;
		width: 12px;
		background: url(../images/ico-smartphone.png) center no-repeat;
	}
	/* - - - main-slider - - - */
	.main-slider {
		height: 420px;
	}
	.main-slider__next, 
	.main-slider__prev {
		display: none !important;
	}
	.main-slider__el {
		height: 420px;
	}
	.main-slider__el-title {
		margin-top: 100px;
		font-size: 28px;
		line-height: 42px;
	}
	.main-slider__el-title:after {
		bottom: -23px;
		width: 90px;
	}
	.main-slider__el-description {
		margin-top: 47px;
    font-size: 18px;
	}
	.main-sider__btn {
		margin-top: 31px;
	}
	.more-btn-dark {
		font-size: 13px;
		min-width: 148px;
		height: 36px;
		line-height: 32px;
		padding-left: 17px;
	}
	.more-btn-dark:after {
		right: 15px;
    top: 6px;
    width: 20px;
    height: 20px;
		background-size: contain;
	}
	.main-slider .slick-dots {
    bottom: 15px;
	}
	/* - - - about-info - - - */
	h2 {
		font-size: 18px;
	}
	.about-info {
		padding-top: 44px;
		padding-bottom: 44px;
	}
	.about-info h2 {
		padding-left: 24px;
		margin-bottom: 16px;
	}
	.about-info h2:before {
		width: 18px;
    height: 19px;
    background-size: cover;
		top: 3px;
		left: -6px;
	}
	.about-info p {
    line-height: 21px;
    font-size: 14px;
    text-align: center;
	}
	/* - - - our-service - - - */
	.our-service {
		padding-top: 47px;
		padding-bottom: 50px;
	}
	.our-service h2 {
		margin-bottom: 29px;
	}
	.our-service h2:after {
		left: -13px;
    top: 5px;
		width: 27px;
    height: 16px;
    background-size: cover;
	}
	.our-service-slider__el-title h3 {
		font-size: 14px;
	}
	.more-btn {
		font-size: 13px;
    height: 36px;
    width: 148px;
    min-width: 148px;
    line-height: 32px;
		padding-left: 16px;
	}
	.more-btn:after {
		width: 20px;
		height: 20px;
		background-size: cover;
		right: 17px;
	}
	.our-service-slider__next, 
	.our-service-slider__prev {
		width: 94px;
    height: 22px;
		top: -34px;
		background-size: contain;
	}
	.our-service-slider__el-title {
		padding-left: 17px;
    padding-right: 17px;
		height: 72px;
	}
	/* - - - hot-offers - - - */
	.hot-offers {
		padding-top: 30px;
	}
	.wave-arrow_white h2 {
		margin-bottom: 25px;
	}
	.wave-arrow_white h2:before {
		top: 6px;
		width: 25px;
    height: 15px;
		left: 16px;
    background-size: contain;
	}
	.wave-arrow_white h2:after {
		top: -1px;
		width: 25px;
    height: 25px;
		right: 15px;
    background-size: contain;
	}
	/* - - - selling - - - */
	.selling {
		padding-top: 31px;
		padding-bottom: 55px;
	}
	.selling-catalog__el {
		width: calc((100% + 2px) / 2);
		padding: 7px 17px 15px 17px;
		border: 0;
		border-bottom: 1px solid #EFF1F2;
	}
	.selling-catalog__el:nth-child(even) {
		border-left: 1px solid #EFF1F2;
	}
	.selling-catalog {
		border-radius: 3px 3px 0 0;
    overflow: hidden;
		border: 1px solid #EFF1F2;
	}
	.selling-catalog__title {
		line-height: 17px;
    font-size: 14px;
	}
	/* - - - nearest-events - - - */
	.nearest-events {
		padding-top: 30px;
		padding-bottom: 63px;
	}
	.events-el:last-of-type {
		display: none;
	}
	.nearest-events-inner .events-el {
		-webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
	}
	.events-el__title {
		line-height: 19px;
		font-size: 14px;
		margin-bottom: 7px;
	}
	.events-el__info {
		padding: 9px 19px 12px 19px;
	}
	.events-el__date {
		font-size: 13px;
	}
	.nearest-events-inner {
		padding: 25px 20px 0 20px;
	}
	/* - - - test-lessons - - - */
	.test-lessons img {
		width: 82px;
		margin-right: 20px;
		margin-left: 12px;
	}
	.test-lessons__txt:before {
    left: -41px;
	}
	.test-lessons__txt:after {
    right: -19px;
	}
	.test-lessons__txt {
		font-size: 16px;
		max-width: 370px;
	}
	.test-lessons_link {
		font-size: 12px;
    height: 36px;
    width: 148px;
    line-height: 32px;
    text-align: center;
		padding: 0 32px;
	}
	.test-lessons__txt:before, 
	.test-lessons__txt:after {
		width: 17px;
    height: 41px;
		background-size: contain;
	}
	.test-lessons,
	.test-lessons .container {
		height: 112px;
	}
	.test-lessons .container {
		padding-left: 22px;
    padding-right: 22px;
	}
	/* - - - faqs - - - */
	.faqs__index-page {
    padding-top: 44px;
	}
	.faqs__index-page h2 {
    margin-bottom: 24px;
	}
	.question__title {
		font-size: 15px;
		padding: 20px 100px 20px 20px;
	}
	.question__answer {
    line-height: 20px;
	}
	.question.active {
		padding-bottom: 10px;
	}
	.faqs {
    padding-bottom: 50px;
	}
	/* - - - seo-text - - - */
	.seo-text.seo-text__index-page {
		padding-top: 45px;
		padding-bottom: 35px;
	}
	.seo-text h2 {
		padding-left: 36px;
	}
	.seo-text.seo-text__index-page h2 {
		margin-bottom: 17px;
	}
	.seo-text h2:after {
		top: 6px;
    width: 25px;
    height: 15px;
    left: 0;
    background-size: cover;
	}
	.seo-text p {
    font-size: 14px;
    line-height: 21px;
	}
	/* - - - photo-gallery - - - */
	.photo-gallery h2:after {
		top: 6px;
    width: 25px;
    height: 15px;
    left: 16px;
    background-size: cover;
	}
	.photo-gallery-slider__next, 
	.photo-gallery-slider__prev {
		width: 42px;
		height: 42px;
		background-size: contain;
	}
	.photo-gallery.photo-gallery_dark-theme {
		padding-top: 30px;
		padding-bottom: 52px;
	}
	.photo-gallery.photo-gallery_dark-theme h2 {
		margin-bottom: 25px;
	}
	.photo-gallery-slider__prev {
		left: 24px;
	}
	.photo-gallery-slider__next {
		right: 24px;
	}
	/* - - - map-wrap - - - */
	.map-wrap {
		height: 364px;
	}
	.map-info-wrap {
		width: 259px;
    height: 177px;
		left: 25px;
		background: #181B1D;
		border-radius: 10px;
		padding: 16px 10px 10px 10px;
	}
	.map-info {
		border: 0;
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 19px;
	}
	.map-info__adress {
		padding-bottom: 11px;
	}
	.map-info__contacts {
    padding-top: 12px;
	}
	.map-info__adress, 
	.map-info__contacts {
    padding-left: 23px;
    font-weight: 400;
	}
	.map-info-wrap:after {
		display: none;
	}
	/* - - - footer - - - */
	.footer {
		padding-top: 25px;
	}
	.footer-top {
		display: block;
		overflow: hidden;
		padding-bottom: 8px;
	}
	.footer-title {
		font-size: 13px;
		margin-bottom: 6px;
	}
	.footer-columns-wrap {
		display: block;
		float: left;
		width: 74%;
	}
	.footer-column {
		display: block;
		float: left;
	}
	.footer-site-menu {
		width: 26%;
	}
	.footer-addres {
		width: 33%;
		min-height: 166px;
	}
	.footer-contacts {
		width: 25%;
    margin-right: 0;
    margin-bottom: 12px;
	}
	.footer-column ul li,
	.footer-column__contacts	{
		font-size: 12px;
		line-height: 21px;
	}
	.footer-column__address {
		font-size: 12px;
		line-height: 18px;
	}
	.footer-column__location {
		font-size: 12px;
		line-height: 24px;
	}
	.footer-social img {
		max-width: 31px;
	}
	.footer-top-aside {
		margin-left: 0;
    float: right;
    width: 26%;
	}
	.footer-social .footer-title {
    margin-bottom: 13px;
	}
	.footer-social a {
    margin-right: 8px;
	}
	.footer-social a:last-of-type {
    margin-right: 0;
	}
	.footer-social {
    margin-bottom: 25px;
	}
	.footer-pay img {
    margin-right: 7px;
    max-width: 37px;
	}
	.footer-bottom {
		padding: 13px 0;
		font-size: 10px;
	}
	.footer-bottom .copyright span {
		display: none;
	}
	/* - - - button-up - - - */
	.up-btn {
		width: 43px;
    height: 43px;
		right: 24px;
		background-size: cover;
	}
	.fancybox-close {
		width: 14px;
    height: 14px;
    top: 0;
    right: -30px;
    background-size: cover;
	}
	.fancybox-next {
    right: -100px;
	}
	.fancybox-prev {
		left: -100px;
	}
	.fancybox-next span {
		right: 25px;
		background-size: cover;
	}
	.fancybox-prev span {
		left: 25px;
		background-size: cover;
	}
	.fancybox-nav span {
		width: 13px;
    height: 22px;
	}
	/* - - - - - - Услуги разводящая - - - - - - */
	/* - - - page-top - - - */
	.page-top {
    height: 157px;
		background-size: cover !important;
	}
	.page-top img  {
		display: none;
	}
	.page-top-overlay {
    padding-top: 60px;
	}
	.breadcrumbs {
    margin-bottom: 5px;
	}
	.breadcrumbs__list {
		margin-bottom: 0;
	}
	h1 {
		font-size: 20px;
	}
	h1:after {
		width: 30px;
		bottom: -7px;
	}
	/* - - - page-content - - - */
	.page-content {
		padding-top: 50px;
		padding-bottom: 34px;
	}
	/* - - - service-wrap - - - */
	.service {
		margin-left: -10px;
    margin-right: -10px;
	}
	.service__el {
		display: block;
		margin-left: 0;
    margin-bottom: 20px;
		width: 50%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
	}
	.service__el-overlay {
		padding-top: 40px;
	}
	.service__title {
		margin-bottom: 25px;
		font-size: 18px;
	}
	/* - - - seo-text - - - */
	.seo-text {
    padding-top: 25px;
	}
	/* - - - - - - Обучение - - - - - - */
	/* - - - help - - - */
	.help {
    padding-bottom: 40px;
	}
	.help__banner {
		width: 231px;
    padding: 33px 26px 30px 26px;
    height: 321px;
	}
	.help-banner__info {
		font-size: 13px;
    line-height: 20px;
    margin-bottom: 14px;
	}
	.help-banner__lnk {
		font-size: 13px;
    height: 36px;
    line-height: 31px;
    display: block;
		font-weight: 400;
	}
	.help__img {
		height: 321px;
    width: 479px;
	}
	.help__img img {
		width: 853px;
    max-width: initial;
    margin-left: -35%;
	}
	.help-advantage {
		padding-top: 40px;
    padding-bottom: 30px;
	}
	.help-advantage__el {
		font-size: 13px;
	}
	.help-advantage__el img {
    margin-bottom: 12px;
    max-width: 60px;
	}
	.help p {
		font-size: 14px;
    line-height: 21px;
		margin-bottom: 5px;
	} 
	/* - - - cost-learning - - - */
	.cost-learning {
		padding-top: 45px;
		padding-bottom: 84px;
	}
	.page-content h2:after {
		top: 6px;
    width: 25px;
    height: 15px;
    left: -6px;
    background-size: cover;
	}
	.cost-learning-slider {
		margin-top: 22px;
	}
	.cost-learning-slider__el {
		padding-right: 10px;
    padding-left: 20px;
	}
	.cost-learning-slider__el-img {
		height: 102px;
	}
	.cost-learning-slider__el-img img {
		max-width: 50px;
	}
	.cost-learning-slider__title {
		margin-bottom: 11px;
	}
	.cost-learning-slider__el li {
		font-size: 14px;
	}
	.cost-learning-slider__el ul {
		display: block;
	}
	.cost-learning-slider__additional-fee ul li {
		font-size: 12px;
	}
	.cost-learning-slider__additional-fee {
		line-height: 18px;
	}
	.cost-learning-slider-wrap .slider-next, 
	.cost-learning-slider-wrap .slider-prev {
		width: 45px;
    height: 36px;
		bottom: -56px;
		border: 1px solid rgba(255, 255, 255, .3);
		top: inherit;
	}
	.cost-learning-slider-wrap .slider-next {
		right: 0;
		background-size: 20%;
    border-radius: 0 4px 4px 0;
	}
	.cost-learning-slider-wrap .slider-prev {
		left: inherit;
		right: 44px;
		background-size: 20%;
    border-radius: 4px 0 0 4px;
	}
	/* - - - part-learning - - - */
	.part-learning {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.part-learning h2 {
		margin-bottom: 16px;
	}
	.part-learning li {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 24px;
	}
	/* - - - IYC-center - - - */
	.IYC-center {
		padding-top: 40px;
		padding-bottom: 37px;
	}
	.IYC-center-inner {
		display: block;
	}
	.IYC-center__video {
		margin: 0 auto;
    max-width: 528px;
	}
	.IYC-center__info {
		padding-left: 0;
    max-width: 540px;
    margin: 0 auto;
    padding-top: 23px;
	}
	.IYC-center__title {
		font-size: 18px;
    margin-bottom: 12px;
	}
	.IYC-center__title:after {
		display: none;
	}
	.IYC-center__txt {
		font-size: 14px;
    line-height: 21px;
	}
	/* - - - schedule - - - */
	.schedule {
    padding-top: 45px;		
		padding-bottom: 7px;
	}
	.schedule h2 {
		margin-bottom: 16px;
	}
	.google-calendar {
		margin-top: 28px;
	}
	/* - - - our-instructors - - - */
	.instructors__learning-page {
		padding-top: 36px;
		padding-bottom: 50px;
	}
	.our-instructors > p {
		font-size: 14px;
    line-height: 21px;
	}
	.employers-wrap {
		margin-top: 22px !important;
	}
	.employers {
		margin-left: -5px;
    margin-right: -5px;
    display: block;
		overflow: hidden;
    margin-bottom: -10px;
	}
	.employers__el {
    width: 33.333333%;
    margin-left: 0;
    margin-bottom: 10px;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
	}
	.employers__person {
		border-radius: 5px 5px 0 0;
		height: 261px;
	}
	.employers__person-img {
		width: 126px;
    height: 126px;
		margin-bottom: 8px;
	}
	.employers__person-img img {
    width: 122px;
    height: 122px;
	}
	.employers__person-name {
		font-size: 14px;
		margin-bottom: 12px;
	}
	.employers__person-title {
		font-size: 12px;
	}
	/* - - - why - - - */
	.why {
		padding: 44px 22px 48px 22px;
	}
	.why h2 {
		margin-bottom: 14px;
	}
	.why__img {
		max-height: 166px;
	}
	.why__author {
    margin-top: 9px;
    padding-top: 6px;
	}
	/* - - - photo-gallery - - - */
	.photo-gallery {
		padding-top: 45px;
		padding-bottom: 15px;
	}
	.photo-gallery h2 {
		margin-bottom: 24px;
	}
	/* - - - consultation - - - */
	.consultation {
		padding-top: 24px;
		padding-left: 22px;
		padding-right: 22px;
		padding-bottom: 15px !important;
	}
	.consultation h3 {
    margin-bottom: 24px;
	}
	/* - - - other-services - - - */
	.other-services {
		padding-top: 58px;
	}
	.other-services h2:after {
		top: -5px;
    width: 25px;
    height: 15px;
    left: -6px;
    background-size: cover;
	}
	.other-services-slider .our-service-slider__prev {
    left: 23px;
	}
	.other-services-slider .our-service-slider__next {
    right: 23px;
	}
	.other-services__title {
		font-size: 18px;
		margin-bottom: 24px;
	}
	.other-services__el {
		height: 252px;
	}
	/* - - - - - - Аренда яхт - - - - - - */
	/* - - - - - - Продажа яхт - - - - - - */
	/* - - - sale-filter - - - */
	.sale-filter {
		margin-top: -7px;
		margin-bottom: 22px;
	}
	.sale-filter__wrap.js-calculated {
		flex-wrap: wrap;
	}
	.sale-filter__column {
		margin-right: 50px;
    width: 160px;
	}
	.sale-filter__column:nth-child(3n) {
		margin-right: 0;
	}
	.sale-filter + p {
		font-size: 14px;
    line-height: 21px;
	}
	.sale-catalog__el {
		width: calc(50% - 15px);
	}
	.sale-catalog__title {
		line-height: 17px;
    font-size: 15px;
	}
	/* - - - pagination - - - */
	.pagination {
		margin-bottom: 20px;
		clear: both;
	}
	/* - - - - - - Карточка товара - - - - - - */
	/* - - - card - - - */
	.card {
    padding-bottom: 6px;
	}
	.card-inner {
		display: block;
    margin-right: -10px;
    margin-left: -10px;
    overflow: hidden;
	}
	.card-picture {
		width: 58.333333%;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    float: left;
	}
	.card-inner .card-picture > img {
		margin-right: 0;
	}
	.card-picture .card__consultation {
		display: block;
    padding-left: 0;
    padding-top: 0;
	}
	.card-picture .card__consultation-title {
		margin-top: 11px;
    font-size: 18px;
    margin-bottom: 5px;
	}
	.card__consultation p {
		float: left;
    max-width: 50%;
		font-size: 12px;
	}
	.card__consultation .more-btn {
		float: right;
    width: 176px;
    margin-left: 8px;
    font-size: 12px;
    padding-right: 37px;
	}
	.card-info {
		float: left;
    display: block;
    width: 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
	}
	.card__description {
		margin-top: 0;
	}
	.card__title {
		font-size: 18px;
    line-height: 22px;
		margin-top: -2px;
		margin-bottom: 11px;
	}
	.card__features {
		border-bottom: none;
		padding-bottom: 0;
	}
	.card__features-title {
		font-size: 15px;
		margin-bottom: 6px;
	}
	.card__features ul {
		column-count: 1;
    font-size: 13px;
    line-height: 21px;
	}
	.card__features li {
    margin-bottom: 0px;
	}
	.card-advanced-info {
		display: block;
	}
	.card__docs-title {
		margin-top: 8px;
    margin-bottom: 8px;
	}
	.card-info .card__consultation {
		display: none;
	}
	/* - - - seo-text - - - */
	.seo-text {
		clear: both;
	}
	.seo-text.title_simple h2 {
		padding-left: 0;
	}
	/* - - - - - - Мероприятия - - - - - - */
	/* - - - events - - - */
	.events-inner {
		display: block;
    margin-right: -10px;
		overflow: hidden;
	}
	.events-inner + .pagination {
		padding-top: 17px;
    margin-bottom: 15px;
	}
	.events-inner .events-el__info {
		padding-top: 14px;
		padding-left: 20px;
	}
	.events-inner .events-el__title {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 9px;
	}
	.events .events-el {
		margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 50%;
    margin-bottom: 20px;
	}
	/* - - - - - - Мероприятия (подробнее) - - - - - - */
	/* - - - article - - - */
	.article {
		padding-right: 22px;
    padding-left: 22px;
		margin-top: -9px;
		padding-bottom: 33px;
	}
	.article p {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 21px;
	}
	.article img {
		margin-top: 35px;
    margin-bottom: 23px;
	}
	/* - - - nearest-events - - - */
	.article + .nearest-events {
		background: linear-gradient(#F47B4B 135px, #FFF 135px);
	}
	.nearest-events h2:after {
		left: initial !important;
		height: 25px;
		top: -1px;
	}
	/* - - - - - - О компании - - - - - - */
	/* - - - about - - - */
	.about-promo {
		margin-bottom: 23px;
	}
	.about__logo {
		align-items: center;
    display: flex;
    flex-basis: 31.333333%;
		padding-top: 20px;
    padding-bottom: 20px;
	}
	.about__txt {
		padding: 25px 20px;
	}
	.about p {
		font-size: 14px;
		line-height: 21px;
    margin-bottom: 14px;
	}
	.about__txt p {
		line-height: 20px;
    margin-bottom: 9px;
	}
	/* - - - - - - Сотрудники - - - - - - */
	/* - - - our-instructors - - - */
	.our-instructors {
		margin-top: -6px;
		padding-bottom: 29px;
	}
	.our-instructors h2 {
		margin-bottom: 17px;
	}
	.our-instructors + .our-instructors {
    padding-top: 7px;
	}
	.our-instructors + .our-instructors .employers-wrap {
    margin-top: 8px !important;
	}
	/* - - - - - - Часто задаваемые вопросы - - - - - - */
	/* - - - faqs - - - */
	.faqs {
		margin-top: -6px;
	}
	.faqs .questions-wrap {
		margin-top: 37px;
	}
	.faqs p {
		font-size: 14px;
    line-height: 21px;
	}
	.faqs .question__title {
		font-size: 14px;
	}
}